
@font-face{
	font-family: 'lifehack Sans';
	src: local('lifehack Sans'),url('fonts/lifehack Sans.ttf');
}
@font-face{
	font-family: 'Rubik Black';
	src: local('Rubik Black'),url('fonts/Rubik Black.ttf');
}

*{
	max-width: 100vw;
	max-height: 100vh;
	
	margin: 0;
    padding: 0;	
}
body {
	
}


.head{
	background-color: #47A6C9;
    display: inline-block;
    height: 10vh;
	width: 100vw;
	/*padding: 3.3rem;*/
	position: flex;
	left: 0;
	top: 0;

	background-image: url("img/head.jpg");
	/*transform: translate(-10%, -10%);*/
}
.head p{
	
	z-index:1;
	display: flex;
	position: relative;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	color: #302F0C;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 7vw;
	top: 15px;
	left: 6%;
	
}
.foot{
	/*background-color: #47A6C9;*/
    background-image: url("img/head.jpg");
    height: 9vh;
	width: 100vw;
	display: inline-block;
	
	
	left: 0;
	bottom: 0;
	/*padding: 3.3rem;*/
}

.button{
	z-index: 2;
	/*background-color: #47A6C9;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	display: block;
	position: relative;
	height: 9vh;
	width: 100vw;
	
	/*display:flex;*/
	 
	left: 0;
	bottom: 0%;
	background-size: cover;
	/*border: 3px solid blue;*/
}
.button img{
	z-index: 1;
	/*background-color: #47A6C9;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	position: relative;
	display:flex;
	width: 15vw;
	height:8vh;
	
	bottom: 1.5vh;
	background-size: cover;
    /*border: 3px solid red;*/
	
}
.button a{
	z-index: 2;
	/*background-color: #47A6C9;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	margin:10px;
	padding: 0px;
	position: absolute;
	display:flex;
	left: 8vw;
	bottom: -20px;
	background-size: cover;
	text-decoration: none;
	/*border: 3px solid black;*/
}
.button p {
	z-index:1;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	/*color: #28F1EE;*/
	position:relative;
	display:flex;
	color: black;
	text-shadow:  1px 1px 25px #F1ED2F;
	text-align: center;
	justify-content: center;
	font-size: 7vw;
	left: 0vw;
	bottom: 0px;
	/*border: 3px solid yellow;*/		
}

.container{
	
	position: relative;
	/*top: 120px;*/
	left: 0;
	
}

.card1, .card2, .card3 {
	position: sticky;
	border: 1px solid white;
}
.card1 img {
	z-index:2;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	
}
.card2 img {
	z-index:2;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
}
.card3 img {
	z-index:2;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
}
.card1-content p{
	
	z-index :1;
	
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	left: 1vw;
	top: 9vh;
	width: 90vw;
	font-size: 4.6vh;
	position: absolute;
	text-align: center;
	color: #302F0C;
	text-shadow:  1px 1px 23px #EBEDA9;
}
.card2-content p {
	
	z-index:1;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	
	width: 100vw;
	
	left: 12%;
	top: 5.5vh;
	width: 80vw;
	font-size: 5vh;
	position: absolute;
	text-align: center;
	color: #302F0C;
	text-shadow:  2px 3px 23px #EBEDA9;
	
}
.card2-content ul {
	
	z-index:1;
	font-family: 'Lifehack Sans';
	font-weight: bold;
	
	
	left: 14vw;
	top: 14vh;
	width: 80vw;
	font-size: 5vh;
	position: absolute;
	text-align: left;
	color: #black;
	text-shadow:  2px 3px 23px #EBEDA9;
	
	
}
.card3-content p {

	z-index:1;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	/*font-family: 'Felidae';*/
	/*font-weight: bold;*/
	
	width: 100vw;
	
	left: 8%;
	top: 8vh;
	width: 80vw;
	font-size: 4vh;
	position: absolute;
	text-align: center;
	color: #302F0C;
	text-shadow:  1px 1px 25px #EBEDA9;
	
	
}
