

@font-face{
	font-family: 'Rubik Black';
	src: local('Rubik Black'),url('fonts/Rubik Black.ttf');
}

*{
	max-width: 100vw;
	/*
	max-width: 100vw;
	max-height: 100vh;
	display: inline-block;
	*/
	
	z-index: 1;
	margin: 0;
    padding: 0;
		
}
body {
	background-color: rgba(0, 0, 0, 0.5);
	scroll-behavior: smooth;
}

.dropbase{
	height: 100vh;
	display: inline;
	position: sticky;
	z-index: 1;
}
.drop1 img{
	height:19px;
	z-index: 1;
}
.drop2 img{
	height:20px;
	z-index: 1;
}
.drop3 img{
	height:15px;
	z-index: 1;
}
.drop4 img{
	height:18px;
	z-index: 1;
}
.drop5 img{
	height:20px;
	z-index: 1;
}
@keyframes move1 {
	from {
		margin-top: -17vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move2 {
	from {
		margin-top: -19vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move3 {
	from {
		margin-top: -24vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move4 {
	from {
		margin-top: -22vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move5 {
	from {
		margin-top: -20vh;
	}
	to {
		margin-top: 110vh;
	}
}

.drop1 {
	overflow: hidden;
	z-index: 2;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 20vw;
}
.drop2 {
	z-index: 2;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.7s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 30vw;
}

.drop3 {
	z-index: 2;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 6.4s;
	animation-name: move3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 40vw;
}
.drop4 {
	z-index: 2;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 7s;
	animation-name: move4;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 50vw;
}
.drop5 {
	z-index: 2;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 5s;
	animation-name: move5;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 60vw;
}
.head{
	
	background-color: #47A6C9;
    display: none;
	position: relative;
    height: 10vh;
	width: 99vw;
	/*padding: 3.3rem;
	position: relative;
	*/
	
	left: 0;
	top: 0;
	z-index:3;
	background-image: url("img/head.jpg");
	
	background-repeat: no-repeat;
	 background-size: 99vw 10vh;
	border-radius: 5px;
	border: 4px outset #1686AD;
	/*transform: translate(-10%, -10%);*/
	
}
.head p{
	margin: 1vw auto;
	z-index:3;
	display: block;
	
	/*font-family: 'Panton Rust';
	top: 15px;
	left: 6%;
	
	
	
	*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 13px #F1ED2F;
	font-size: 6vw;
	vertical-align: middle;
	text-align: center;
	
}
.foot{
	
	
	
	display: none;
	/*
	
	position: static;
	height: 10vh;
	width: 100vw;
	margin: 0px 80vw;	
	background-image: url("img/head.jpg");
	background-repeat: no-repeat;
	 background-size: 99vw 9.9vh;
	white-space: nowrap;
	grid-template-columns: 50px auto 1fr;
	grid-template-columns: 10vh;
	margin: 10px 10px 10px auto;
	
	
	
	top:1px;
	z-index:3;
	border-radius: 5px;
	border: 4px outset #1686AD;
	
	
	
	border: 3px solid white;
	justify-content: center;
	background: none;
	align-items: center;
	left: 23vw;
	*/
	
}





.container{
	display: block;
	position; relative;
	white-space: normal;
	/*top: 120px;*/
	left: 0;
	z-index:4;
	scroll-behavior: smooth;
}
.arrow_down
	{
	margin: 89vh 0px 0px 0.1vw;	
	display: flex; 
	position: relative;
	/*border: 3px solid #88E1F0;*/
	z-index:2;
	width: 0px;
	height:0px;	
		
	}
.arrow_down a
		{
		
		display: flex;
		position: absolute;
		z-index: 1;
		height: 60px;
		width: 60px;
	/*border: 3px solid orange;*/
		white-space: nowrap;
		text-decoration: none;
		background-image: url("img/arrow_down.gif");
		background-repeat: no-repeat;
		background-size: 60px 60px;	
			
		}
.arrow_up
	{
	margin: 0.1vh 0px 0px 0.1vw;	
	display: flex; 
	position: absolute;
	/*border: 3px solid #88E1F0;*/
	z-index:1;
	width: 0px;
	height:0px;	
		
	}
.arrow_up a
		{
		
		display: flex;
		position: absolute;
		z-index: 1;
		height: 60px;
		width: 60px;
	/*border: 3px solid orange;*/
		white-space: nowrap;
		text-decoration: none;
		background-image: url("img/arrow_up.gif");
		background-repeat: no-repeat;
		background-size: 60px 60px;	
			
		}			

.card0{
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:3;
	width: 0px;
	height: 0px;
	margin-left: 76%;
	margin-right: 24%;
	
	
	
	/*background: url("img/1.jpg");
	margin-top: 40%;
	background-repeat: no-repeat;
	 background-size: 99.8vw 100vh;
	width: 99.8vw;
	height: 100vh;
	border-radius: 10px;
	*/
}
.card0-content
	{
	/*border: 3px solid green;*/
	top: 30vh;
	display: block;
	position: relative;
	z-index:3;
	justify-content: flex-end;
	/*
	border: 3px solid green;
	width: 100vw;
	white-space: nowrap;*/
	overflow: hidden;
	}
	
.whatsapp{
	
	
	background: none;
	white-space: nowrap;
	display: flex;
    position: relative;
	/*border: 3px solid green;*/
	height: 82px;
	width: 82px;
	right:0px;
	z-index:3;
	
	
}	
.whatsapp a{
	display: flex;
	position: fixed;
	z-index: 3;
	height: 82px;
	width: 82px;
	/*border: 3px solid orange;*/
	white-space: nowrap;
	text-decoration: none;
	background-image: url("img/whatsapp.gif");
	background-repeat: no-repeat;
	 background-size: 82px 82px;

	
	 
}
.number{
	
	height: 85px;
	width: 85px;
	background: none;
    white-space: nowrap;
	display: flex;
    position: sticky;
	
	bottom: 0px;
	
	z-index:3;
	left: 3vw;
	/*
	bottom:0px;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-content: right;
    align-items: center;
	justify-content: center;
	background-image: url("img/head.jpg");
	align-items: center;
	left: 23vw;
	border: 3px solid brown;
	display: flex;
    position: absolute;
	*/
	
}		
.number a{
	
	height: 82px;
	width: 82px;
	display: flex;
	position: fixed;
	z-index: 2;
	white-space: nowrap;
	text-decoration: none;
	/*border: 3px solid orange;*/
	background-image: url("img/call1.gif");
	background-repeat: no-repeat;
	 background-size: 82px 82px;
}
.mailto
	{
			
	background: none;
	white-space: nowrap;
	display: flex;
    position: relative;
	/*border: 3px solid green;*/
	height: 82px;
	width: 82px;
	right:0px;
	z-index:1;
	}
.mailto a
	{
	display: flex;
	position: fixed;
	z-index: 1;
	height: 82px;
	width: 82px;
	/*border: 3px solid orange;*/
	white-space: nowrap;
	text-decoration: none;
	background-image: url("img/mailto.gif");
	background-repeat: no-repeat;
	 background-size: 82px 82px;
		
		
	}
.login
	{
				
	background: none;
	white-space: nowrap;
	display: flex;
    position: relative;
	/*border: 3px solid green;*/
	height: 82px;
	width: 82px;
	right:0px;
	z-index:1;	
	}
.login a
	{
	display: flex;
	position: fixed;
	z-index: 1;
	height: 82px;
	width: 82px;
	/*border: 3px solid orange;*/
	white-space: nowrap;
	text-decoration: none;
	background-image: url("img/login.gif");
	background-repeat: no-repeat;
	 background-size: 82px 82px;
	
	}
.card1{
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/1.jpg");
	background-repeat: no-repeat;
	 background-size: 99.8vw 100vh;
	width: 99.8vw;
	height: 100vh;
	border-radius: 10px;
}
.card1-content p{
	
	z-index :2;
	
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	left: 8%;
	top: 9vh;
	width: 80vw;
	font-size: 4vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 5px #EBEDA9;
}
.card2 {
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/2.jpg");
	background-repeat: no-repeat;
	 background-size: 99.8vw 100vh;
	width: 99.8vw;
	height: 100vh;
	border-radius: 10px;
}
.card2-content p {
	
	z-index:3;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	display: flex;
	width: 98vw;
	position: absolute;
	left: 12%;
	top: 5.5vh;
	width: 80vw;
	font-size: 5vh;
	
	text-align: center;
	color: black;
	text-shadow:  2px 3px 5px #EBEDA9;
	
}
.card2-content ul {
	
	z-index:2;
	font-family: 'Rubik Black';
	font-weight: bold;
	line-height: 1.5;
	
	left: 14vw;
	top: 14vh;
	width: 80vw;
	font-size: 3.3vh;
	position: absolute;
	text-align: left;
	color: #black;
	text-shadow:  2px 3px 5px #EBEDA9;
	
	
}
.card3 {
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/3.jpg");
	background-repeat: no-repeat;
	 background-size: 99.8vw 100vh;
	width: 99.8vw;
	height: 100vh;
	border-radius: 10px;
}
.card3-content{
	display: flex;
	position: absolute;
	z-index:3;
	width: 100vw;
	/*white-space: nowrap;*/
	overflow: hidden;
}
.card3-content p {

	z-index:4;
	font-family: 'Rubik Black';
	margin:  20% auto;
	position: relative;
	width: 80vw;
	
	font-size: 2.8vh;
	
	text-align: center;
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}
.card4 {
	display: flex;
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/tools4.jpg");
	background-repeat: no-repeat;
	 background-size: 99.8vw 100vh;
	width: 99.8vw;
	height: 100vh;
	border-radius: 10px;
}
.card4-content{
	display: inline-block;
	position: relative;
	z-index:3;
	top: 35px;
	height: 83%;
	white-space: nowrap;
	overflow: hidden;
}
.card4 p {

	z-index:1;
	font-family: 'Rubik Black';
	width: 100vw;
	display: flex;
	left: 5vw;
	top: 8vh;
	width: 90vw;
	font-size: 4vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}
.card5{
	display: flex; 
	position: relative;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/5.jpg");
	background-repeat: no-repeat;
	 background-size: 99.8vw 100vh;
	width: 99.8vw;
	height: 100vh;
	border-radius: 10px;
}
.card5-content{
	width: 70vw;
	display: flex;
	position: relative;
	margin: auto;
	justify-content: center;
	z-index: 2;
}

.card5 p {
	display: flex;
	position: absolute;
	z-index:1;
	font-family: 'Rubik Black';
	width: 100vw;
	justify-content: center;
	left: 2vh;
	top: 4vh;
	width: 90vw;
	font-size: 4vh;
	
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}


.slide1{
	z-index:2;
	top: 7vh;
	display: inline-block;
	position: sticky;
	animation: slide1 30s linear infinite;
	
}


.slide1 img{
	margin:50% 5px;
	display: inline-block;
	border-radius: 10px;
	width: 60vw;
	height: auto;
	z-index: 2;
	
	border: 1px solid #88E1F0;
	object-fit: cover;
	/*object-fit: contain;*/
}


@keyframes slide1 {
	from { 
	transform: translateX(100vw);
	}
	to{
		transform: translateX(-600vw);
		}
}






.map_small{
	display: none;
}
.map_big{
	display: flex;
	position: relative;
	z-index: 2;
	width: 75%;
	/*height: 50%;*/
	margin: auto;
	
}
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

@media (min-width: 1081px){
	*{
	
	/*max-height: 100vh;*/
   /*overflow: none;*/
	
}
body{
	z-index: 3;
	width: 100vw;
	height: 100vh;	
background-image: url("img/bgh.jpg");	
background-repeat: no-repeat;
background-size:100vw 100vh;
/*border: 3px solid green;*/
	
}

.desktop_disable
	{
		display: none;
	}
.arrow_down, .arrow_up 
	{displayl: none;}	


	
.container{
	display: flex;
	position: relative;
	margin: 15px 15px;
	padding-top: 7vw;
	/*top: 120px;
	
	*/
	left: 0vw;
	z-index:3;	
	
	
	overflow-y: hidden;
	overflow-x: hidden;
}
.card0
	{
	display: none;
	}
	.head{
	left: 50%;
	width: 0px;
	/*background-color: transparent;*/
    height: 6vh;
	display: flex;
    position:relative;
	justify-content: center;
	z-index:3;
	/*background-image: url("img/head.jpg");
	background-size:auto;
	background-position: center;*/
	border: none;
}
.head p{
	width: 60vw;
	z-index:3;
	display: flex;
	position: relative;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 2.9vw;
	left: 50%;
	text-align: center;
	white-space: nowrap;
	/*
	line-height:20vh;
	text-align: center;
	top: 0;*/
}

	
.card1{
		
	margin:  3px 3px;	
	display: inline-block; 
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/1.jpg");
	/*background-repeat: no-repeat;*/
	background-size:20vw 30vw;
	width: 19vw;
	height: 29vw;
	/*justify-content: center;*/
	border-radius: 30px;
	/*transform: rotate(90deg);*/
	box-shadow: 10px 5px 5px black;
}
.card2 {
	margin:  3px 3px;		
	display: inline-block; 
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/2.jpg");
	/*background-repeat: no-repeat;*/
	background-size:19vw 29vw;
	width: 19vw;
	height: 29vw;
	/*justify-content: center;*/
	border-radius: 30px;
	box-shadow: 10px 5px 5px black;
}
.card3 {
	margin:  3px 3px;	
	display: inline-block;
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/3.jpg");
	background-repeat: no-repeat;
	background-size:19vw 29vw;
	width: 19vw;
	height: 29vw;
	/*justify-content: center;*/
	border-radius: 30px;
	box-shadow: 10px 5px 5px black;
}	
.card4 {
	margin:  3px 3px;
	display: flex;
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url('img/tools4.jpg') no-repeat center center / cover;
	/*background: url("img/tools4.jpg");
	background-repeat: no-repeat;
	background-size:20vw 30vw;*/
	width: 19vw;
	height: 29vw;
	/*justify-content: center;
	*/
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 10px 5px 5px black;
}
.card5{
	
	margin:  3px 3px;	
	display: flex;
	position: relative;
	border: 1px solid #88E1F0;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url('img/5.jpg') no-repeat center center / cover;
	width: 19vw;
	height: 29vw;
	border-radius: 30px;
	box-shadow: 10px 5px 5px black;
}	
.card1-content p{
	justify-content: center;
	z-index :3;
	display: flex;
	position: relative;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	left: 1vw;
	font-size: 1.5vw;
	top: 4vh;
	width: 17vw;
	height: 25vw;
	
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
}
.card2-content p {
	display: flex;
	position: relative;
	z-index :3;
	font-family: 'Rubik Black';
	
	justify-content: center;
	top: 1.3vw;
	font-size: 1.5vw;
	width: 16vw;
	
	
	
	/*text-align: center;*/
	color: black;
	text-shadow:  1px 1px 23px #EBEDA9;
	
}
.card2-content ul {
	
	display: block; 
	position: relative;
	z-index:3;
	font-family: 'Rubik Black';
	font-weight: bold;
	/*word-break: break-all;*/
	top: 2.6vw;
	left: 2.2vw;
	
	
	text-align: l;
	margin:  0px 0px;	
	width: 17vw;
	height: 25vw;
	font-size:2vh;
	
	color: #black;
	text-shadow:  2px 3px 23px #EBEDA9;
	
	
}
.card3-content p {
	display: flex;
	margin:  2vw 0px 0px 1.6vh;	
	position: relative;
	z-index :2;
	font-family: 'Rubik Black';
	/*left: 1vh;
	top: 3.5vh;
	justify-content: center;
	text-align: center;
	margin:  0px 0px;
	*/
	width: 17vw;
	height: 28vw;
	font-size: 1.05vw;
	
	color: black;
	text-shadow:  1px 1px 23px #EBEDA9;
	
}
.card4-content{
	display: inline-block;
	position: relative;
	z-index:3;
	
	white-space: nowrap;
	overflow: hidden;
	width: 30vw;
	height: 40vw;
	
}



.card4 p {

	z-index:1;
	font-family: 'Rubik Black';
	/*width: 100vw;*/
	
	width: 20vw;
	height: 30vw;
	left: 0.1vw;
	top: 2.5vh;
	
	font-size: 2.3vh;
	justify-content: center;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}
.card4-content
		{
		top: 0px;
		height: 100%;
		}
.card5-content{
	z-index:3;
	display: flex;
	position: absolute;
	width: 19vw;
	height: 29vw;
	margin: auto;
	justify-content: center;
	top: 1vw;
	
	
}
.card5 p {
	display: flex;
	position: absolute;
	z-index:1;
	font-family: 'Rubik Black';
	width: 19vw;
	height: 29vw;
	/*justify-content: center;*/
	margin: -1.5vh auto;
	font-size: 2.3vh;
	color: black;
	text-shadow:  1px 1px 5px #EBEDA9;
	
}
.map_big {
	z-index: 2;
	display:none;
}
.map_small{
	display: flex;
	position: relative;
	z-index: 2;
	margin: auto;
	justify-content: center;
}
.slide1{
	z-index:1;
	

	position: sticky;
	animation: slide1 60s linear infinite;
	
}


.slide1 img{
	margin:5% 5px;
	display:flex
	position: sticky;
	border-radius: 10px;
	width: 13vw;
	height: 18vw;
	z-index: 2;
	
	border: 1px solid #88E1F0;
	object-fit: cover;
	/*object-fit: contain;*/
}
.foot{
	height: 11vh;
	width: 50vw;
	
	display: grid;
	position: absolute;
	grid-template-rows: 100px auto 1fr;
	grid-template-rows: 8vh;
	
	
	
	background: none;
	white-space: nowrap;
	margin: 0% 0% 0% 24%;
	
	bottom:0px;
	z-index:3;
	border: none;
	/*
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 0px 10px 1vh 1vw;
	border: 3px solid white;
	justify-content: center;
	background: none;
	align-items: center;
	left: 23vw;
	*/
	
}
.foot p {
	z-index:1;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	display: flex;
	
	align-items: center;
	justify-content: center;
	/*font-family: 'Panton Rust';
	
	display: flex;
	position: relative;
	left: 0vw;
	height: 10vh;
	width: 50vw;
	bottom: -3vh;	
	border: 3px solid blue;
	
	margin: auto;
	*/
	
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 9px #F1ED2F;
	font-size: 6vh;
	
	white-space: nowrap;
	
	
	
}
.number
	{
	
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	background: none;
    white-space: nowrap;
	
	display: flex;
	justify-content: right;
    align-items: center;
	
	bottom:0px;
	z-index:3;
	
	/*
	justify-content: center;
	background-image: url("img/head.jpg");
	align-items: center;
	left: 23vw;
	border: 3px solid brown;
	display: flex;
    position: absolute;
	*/
	
}		
.number a{
	background: none;
	z-index: 2;
	white-space: nowrap;
	text-decoration: none;
	/*border: 3px solid green;
	background-image: url("img/call1.gif");
	background-repeat: no-repeat;
	 background-size: 75px 75px;
	
	
	
	*/
}
.number img{

	width:10vh;
	height: 10vh;
	z-index: 1;
	margin-bottom: -5px;
	
	bottom: 0px;
	
    /*border: 3px solid red;
	position: relative;
	border: 3px solid grey;
	*/
	
}
.whatsapp{
	
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	
	background: none;
	white-space: nowrap;
	display: flex;
	justify-content: left;
	align-items: center;
	bottom:0px;
	z-index:2;
	
	
}	
.whatsapp a{
	
	z-index: 2;
	background: none;
	white-space: nowrap;
	text-decoration: none;
		
}



.whatsapp img{
	width:9.5vh;
	height: 9.5vh;
	z-index: 1;
	
}







@keyframes slide1 {
	from { 
	transform: translateX(20vw);
	}
	to{
		transform: translateX(-150vw);
		}
}

.dropbase{
	z-index:1;
	height: 100vh;
	display: inline;
	position: fixed;
	
}
.drop1 {
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 4vw;
}
.drop2 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.7s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 19vw;
}

.drop3 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 6.4s;
	animation-name: move3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 40vw;
}
.drop4 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 7s;
	animation-name: move4;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 50vw;
}
.drop5 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 5s;
	animation-name: move5;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 71vw;
}
}


/*transform: rotate(90deg);*/
/*--------------------------------------------------------*/
